link(rel='stylesheet', href='/main.css')
| <meta property="og:type" content="website">
| <meta property="og:site_name" content="Noob Challenge List">
| <meta property="og:title" content="Noob Challenge List">
| <meta property="og:description" content="View list and stats viewer">
| <meta property="og:image" content="/logo.png">
| <link rel="icon" type="image/gif/png" href="favicon-32x32.png">