link(rel='stylesheet', href='/main.css')
| <meta property="og:type" content="website">
| <meta property="og:site_name" content="Noob Challenge List">
| <meta property="og:title" content="Noob Challenge List">
| <meta property="og:description" content="View list and stats viewer">
| <meta property="og:image" content="/logo.png">
| <link rel="icon" type="image/gif/png" href="https://noobchallengelist.com/favicon-32x32.png">
| <meta name="viewport" content="width=device-width, initial-scale=1.0">
script.
    function menuToggle() {
        var x = document.getElementById("menubar");
        if (x.className == "hzMenubar") {
            
            x.className += "responsive";
            x.className = "vMenubar"
        } else {
            x.className = "hzMenubar"
        }
    }