div(class="hzMenubar" id="menubar")
  a(href="javascript:void(0);" class="menuitem icon active" onclick="menuToggle();")
    i(class="fa fa-bars")
  a(href="/" class="menuitem") List
  a(href="/stats" class="menuitem") Stats Viewer
  a(href="/submit" class="menuitem") Submit
  a(href="/rules" class="menuitem") Rules
  a(href="https://discord.gg/rgcqpXHgkc" class="menuitem") Join Discord
  if authorized == false
    a(id="login" class="menuitem active" href="https://discord.com/oauth2/authorize?client_id=923025689492459530&redirect_uri=https%3A%2F%2Fnoobchallengelist.com%2Fapi%2Flogin&response_type=code&scope=identify") Login
  else
    a(href="/api/logout" class="menuitem active" id="login") #{info.username}##{info.discriminator}

  
br