ul(class="menubar")
  li(class="menuitem")
    a(href="/") List
  li(class="menuitem")
    a(href="/stats") Stats Viewer
  li(class="menuitem" id="discord")
    a(href="https://discord.gg/rgcqpXHgkc") Join Discord
br