doctype html
html
  head
    include includes/header.pug
    title Noob Challenge List
  body
    include includes/menubar.pug
    h1 Welcome to the 
        span(id="listtitle") Noob Challenge List
    p We are a small Discord community thats initial focus was to fill in the very noticable difficulty gap and make easy challenges.
    h2 Meet the Team 
    p OMGer: I am a 13 year old software developer (wow pretty young!) who specializes in backend Node.js and the MERN stack. I joined the server in the early days of it's existence because the old one got deleted.
    include includes/footer.pug
