doctype html
html
  head
    include includes/header.pug
    title Noob Challenge List
  body
    include includes/menubar.pug
    h1 Welcome to the 
        span(id="listtitle") Noob Challenge List
    p(style="font-size:20pt;") We are a small community of people who desire allowing people who are not very good at the game to still experience playing challenges.
    include includes/footer.pug
