doctype html
html
  head
    include includes/header.pug
    title Noob Challenge List
  body
    include includes/menubar.pug
    
    h1(id="listtitle") Noob Challenge List
    div(class="list")
      each val in levels
        div(class="levellistitem")
          span #{levels.indexOf(val) + 1}.
          img(src="https://noobchallengelist.com/levelimgs/" + val.lvlid + ".png" onerror="this.src = 'https://noobchallengelist.com/levelimgs/placeholder.png';")
          span(class="bold" style="font-size: 20pt") #{val.name}
          span By #{val.author}
          span
            a(href="/lvl/" + val.placement) Click for more info

    include includes/footer.pug