doctype html
html
  head
    include includes/header.pug
    title Noob Challenge List
  body
    include includes/menubar.pug
    
    h1 List
    ol(class="list" type="1")
      each val in levels
        li
          a(class="listitem" href="/lvl/" + val.placement) #{levels.indexOf(val) + 1}. #{val.name} by #{val.author} #{val.points}pts
    include includes/footer.pug