doctype html
html
  head
    include includes/header.pug
    title Moderator Panel
  body
    include includes/menubar.pug
    h1 Moderator panel
    p In dev. Check back soon!
    include includes/footer.pug