doctype html
html
  head
    include includes/header.pug
    title Moderator Panel
    script.
      function formSubmitFunc() {
        document.getElementById("loadingtext").innerHTML = "Please wait... Usually takes 5-10 seconds so be patient"
      }
  body
    include includes/menubar.pug
    div(class="movelevel" id="editgeneral")
      h1 Move Level
      p Level id: #{lvlid}
      form(action="/api/movelevel?redirect=/list", method="POST" onsubmit="return formSubmitFunc();")
        input(type="number", name="placement", value=placement)
        input(type="hidden", name="lvlid", value=lvlid)
        br
        input(type="submit", value="Submit")
        p(id="loadingtext")