doctype html
html
  head
    include includes/header.pug
    title Privacy Policy
  body
    include includes/menubar.pug
    h1 Privacy Policy
    p By filling out any submissions on this website, you agree that the data mentioned in this agreement will be kept.
    p 1. What we keep
    p We only keep basic identifying info, such as your Discord tag, user id, OAUTH2 limited token, and Geometry dash profile. We also keep your progress and anything other that you have submitted on this website.
    p 2. What we share
    p You have a right to privacy. We do not share any of your data whatsoever.
    p 3. Data deletion
    p If you leave the discord server you agree that all progress and identifying data linked to you will be released and deleted within 90 days. You may also request a data deletion and/or fresh start at anytime.
    p Discord, Geometry Dash, and other related services's privacy policy also applies when logging in through Discord etc.
    include includes/footer.pug
