doctype html
html
  head
    include includes/header.pug
    title Rules
  body
    include includes/menubar.pug
    
    h1 Rules
    ol
        li Levels must not be cps based
        li Levels must have some decoration
        li Levels cannot be over 29 seconds long
        li Levels cannot be too hard
        li No hacking (obvs)
        li For a completion to be valid, your icon must hit the end wall on recording
        li As of Christmas 2022, there is now an FPS/TPS cap of 240.
    include includes/footer.pug
