doctype html
html
  head
    include includes/header.pug
    title Stats Viewer
  body
    include includes/menubar.pug
    
    h1 Stats Viewer
    ol(class="list" type="1")
      each val in array
        li(class="listitem") #{array.indexOf(val) + 1}. #{val[0]}: #{val[1]}pts
    include includes/footer.pug