doctype html
html
  head
    include includes/header.pug
    title Moderator Panel
  body
    include includes/menubar.pug
    h1 Verification List
    p To place, you must run the /placeonlist command in the discord.
    p To delete, its as simple as clicking the button!
    div(class="flexgrid")
        each lvl in unplacedLvls
            div(class="griditem")
                p=lvl.lvlname
                p=lvl.lvlid
    include includes/footer.pug