@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
#menubar {
list-style-type: none;
margin: 8px;
padding: 0;
overflow: hidden;
background-color: #333;
border-radius: 25px;
}
body {
    margin: 0px;
}
a {
    text-decoration: none;
    color: black;
}
.vMenubar {
    list-style-type: none;
    margin: 8px;
    padding: 0;
    overflow: hidden;
    width: 95vw;
    background-color: #333;
}
* {
    font-family: 'Libre Franklin', sans-serif;
}
.hzMenubar .menuitem {
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.vMenubar .menuitem {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    width: 95vw;
    text-decoration: none;
}
.hzMenubar #login {
float: right;
}
  
/* Change the link color to #111 (black) on hover */
.hzMenubar .menuitem:hover {
background-color: #111;
}
.listitem {
    text-decoration: none;
    color: black;
}
.list {
    margin-left: 8px;
    display: flex;
    flex-direction: column; 
}
.submitrecord {
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
}
.greentext {
    color: #34d100;
}
.hzMenubar .icon {
    display:none;
}
input[type=submit] {
    margin-top: 10px;
    width: 154px;
    padding: 10px;
    border: 0px solid black;
    background-color: #333;
    color: white;
    border-radius: 25px;
}
footer {
    background-color: #333;
    margin: 0px;
}
#footertext {
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}
h1, h2, h3, form {
    margin-left: 8px;
}
.levellistitem {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
  
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    background-color: white;
    box-shadow: 0 0 10px #8f8f8f;
    margin-top: 20px;
    margin-bottom: 20px;
  }
@media screen and (max-width: 600px) {
    .hzMenubar .menuitem:not(.active) {display: none;}
    .hzMenubar .icon {
        float: left;
        display: block;
    }
    iframe {
        width: 100%
    }
}
.levellistitem a {
    text-decoration: none;
    color: black;
    transition: color ease 0.25s;
}

.levellistitem a:hover {
    color: #0091ff;
}
.panelitem {
    text-decoration: none;
    color: black;
    transition: color ease 0.25s;
}
.panelitem:hover {
    color: #0091ff;
}
img {
  
    margin-right: 8px;
    height: 40px;
}
.bold {
    font-weight: bold;
}
span {
    margin-right: 8px;
}
  
@media screen and (max-width: 600px) {
    .menubar.responsive {position: relative;}
    .menubar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menubar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
